<div class="container w-50 mt-5">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      #input
      (keyup)="applyFilter($event)"
      matInput
      placeholder="filter by Name and Working Hours"
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" class="mat-table" mat-table matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let row" mat-cell>{{ row.Name }}</td>
      </ng-container>

      <!-- Working Hours Column -->
      <ng-container matColumnDef="WorkingHours">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Working Hours</th>
        <td *matCellDef="let row" mat-cell>{{ row.WorkingHours }} hrs</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ yellow: row.WorkingHours < 100 }"
        mat-row
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <div *ngIf="EmployeesList">
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </div>
    </table>
    <mat-spinner *ngIf="showSpinner" class="m-auto"></mat-spinner>
    <mat-paginator
      [pageSizeOptions]="[6, 10, 25, 100]"
      aria-label="Select page of users"
      pageSize="10"
    ></mat-paginator>
  </div>
</div>
